body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #fafafa;
}

header {
    background: #111;
    color: white;
    padding: 30px;
    text-align: center;
}

nav a {
    margin: 0 15px;
    color: #ffd700;
    text-decoration: none;
}

.about, .skills {
    width: 70%;
    margin: 50px auto;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
    color: #444;
}
